# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# .vs
*.suo
*.db
*.db-smh
*.db-wal
*.opendb
*.ipch
*.db-shm
*.pdb
*.tlog
*.lastbuildstate
*.pdb
*.idb
*.tlog
*.ilk
*.log
OpenDemeyer2D/.vs/OpenDemeyer2D/v17/HierarchyCache.v1.txt
OpenDemeyer2D/.vs/OpenDemeyer2D/v17/fileList.bin
OpenDemeyer2D/.vs/OpenDemeyer2D/v17/fileList.bin
